<div class="container-fluid">
    <div class="row mt-4 mb-4"
    style="background-color: #ff9b00;min-height: 100px;color: white;display: block;">
        <h1 style="text-align: center;font-size: 50px;padding: 20px;">EXPORT</h1>
    </div>
</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5><p class="monospace">

                    We are one of the leading pharmaceutical export companies in India. Our Products are manufactured  in facilities that are approved by major global regularities agencies such as WHO, UK MHRA, ANVISA Brazil, Korean FDA, CDSCO India, FDA, CCA, WHO GMP, EDQM, USFDA, OSHAS, AUSTRALIA TGA, AFSSAPS-France, MEDSAFE-NewZealand etc.
Our products are available to local pharmaceutical distributors in many countries.We support our business partners with manufacture and supply of pharmaceutical products according to their requirements and specifications. In addition, We provide marketing support to our business partners. Our marketing team is always at our customer's service.
Our Manufacturers  consist of elite, highly qualified personnel engaged in providing data required to assure the high Quality, efficacy and safety of our Products. We can provide clinical Trials, FDA Certificates as per guidelines of most health authorities in most countries.  
                </p></h5>
            </div>
            <div>
                <h5><p class="monospace">
                    We are committed to delivering the best and most reliable medicines to our customers. We provide quality products to the clients all over the world. We have established a wide marketing network in more than 20 countries across the globe.
                </p></h5>
            </div>
            <div>
                <h5><p class="monospace">
                    We have been catering our Branded and Generic medicines in the following countries below:

ASIA: Syria, Philippines, Turkey, Turkmenistan, Uzbekistan, Jordan, Pakistan, Russia, Saudi Arabia,  Yemen, Vietnam, Indonesia, Malaysia, Iran, Tajikistan, Afghanistan, Israel.

AFRICA: South Africa, Botswana, Egypt, Ethiopia, Libya, Sudan, Congo, Gambia, Ivory Coast Uganda, Nigeria, Ghana, Kenya, Mauritius.

EUROPE: Denmark, United Kingdom (UK) , Latvia France, Georgia, Germany, Hungary, Ireland, Iceland, Netherlands, Norway, Poland, Spain, Austria , Azerbaijan, Belarus, Belgium, Cyprus, Czech Republic Sweden, Switzerland, Ukraine,  

SOUTH & NORTH AMERICA: Costa Rica, Puerto Rico, Dominican Republic, , Brazil, Bahamas, Ecuador, USA, Canada, Panama, Trinidad and Tobago,  Argentina, Guatemala, Guyana, Peru, Bolivia, Venezuela.




                </p></h5>
            </div>
            <!-- <div class="my-5">
                <h1><b>Key Features:</b></h1>
                <li class="monospace1">
                    We provide Contract manufacturing of all kinds of medicinal products.
                </li>
                <li class="monospace1">
                    We can manufacture Customized Brand products for your company.
                </li>
                <li class="monospace1">
                    We provide Customized selection of packings size and material for all products.
                </li>
                <li class="monospace1">
                    All ready products are shipped in Export worthy packing.
                <li class="monospace1">
                    We provide facilities for shipments both by air and sea.
                </li>
            </div> -->
        </div>
        <div class="col-md-6">
            <img style="height: auto;
            max-width: 100%;
            width: auto;" src="./assets/exp.png">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4"
    style="background-color: #ff9b00;min-height: 100px;color: white;display: block;">
        <h1 style="text-align: center;font-size: 50px;padding: 20px;">GLOBAL PRESENCE</h1>
    </div>
    <div class="row">
        <img style="height: auto;
        max-width: 100%;
        width: auto;" src="./assets/map1.jpg">
    </div>
</div>

