<div class="container-fluid">
    <div class="row mt-4 mb-4"
    style="background-color: #ff9b00;min-height: 100px;color: white;display: block;">
        <h1 style="text-align: center;font-size: 50px;padding: 20px;">EXPORT</h1>
    </div>
</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6">
            <div class="my-4">
                <h5><p class="monospace">Amar Pharmaceuticals is one of the leading pharmaceutical export companies in India and we are committed to provide quality products to the clients all over the world. As a pharmaceutical Exporter from India, we are well established and setting ourselves to be the one stop shop for all pharmaceutical requirements.</p></h5>
            </div>
            <div>
                <h5><p class="monospace">Amar Pharmaceuticals provides contract manufacturing of all kind of tablets, capsules, syrups, ointments, creams, gels, vaccines and injections, ampoules</p></h5>
            </div>
            <div class="my-5">
                <h2>Key Features:</h2>
                <li>
                    <b class="monospace1">We provide Contract manufacturing of all kinds of medicinal products.</b>
                </li>
                <li>
                    <b class="monospace1">We can manufacture Customized Brand products for your company.</b>
                </li>
                <li>
                    <b class="monospace1">We provide Customized selection of packings size and material for all products.</b>
                </li>
                <li>
                    <b class="monospace1">All ready products are shipped in Export worthy packing.</b>
                </li>
                <li>
                    <b class="monospace1">We provide facilities for shipments both by air and sea.</b>
                </li>
            </div>
        </div>
        <div class="col-md-6">
            <img style="max-width: 700px;
            max-height: 500px;" src="./assets/exp.png">
        </div>
    </div>
</div>

