<nav class="navbar navbar-expand-sm navbar-light" style="height: 90px;background: white">
  <img src="./assets/logo.png" style="min-width: 10px;max-width: 50px;max-height: 80px;min-height: 10px;" />
  <img src="./assets/logo2.png" style="min-width: 30px;min-height: 50px;max-width: 240px;" />
  <!-- <a class="navbar-brand" href="#"><h2 style="color: #25274d;">SALT PHARMACEUTICALS</h2></a> -->
  <button class="navbar-toggler" type="button" (click)="open()">
    <!-- data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" -->
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mx-3" (click)="about()">ABOUT</a>
      </li>
      <li class="nav-item"> 
        <!-- <a class="nav-link mx-3" href="home" >HOME</a> -->
        <!-- <button mat-menu-item mat-button [matMenuTriggerFor]="animals">PRODUCT v</button> -->
        <a class="nav-link mx-3" mat-button [matMenuTriggerFor]="animals">PRODUCTS <i class="fas fa-caret-square-down"></i></a>
        
        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">DOMESTIC PRODUCTS</button>
          <button mat-menu-item (click)="openExportTab()">EXPORT PRODUCTS</button>
        </mat-menu>
        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item (click)="openAntiBiotics()">Antibacterial</button>
          <button mat-menu-item (click)="openAntihistamine()">Analgesic</button>
          <button mat-menu-item (click)="openAntifungal()">Antiemetic</button>
          <button mat-menu-item (click)="openAntimalarial()">Antiviral</button>
          <button mat-menu-item (click)="openIronValcium()">Diabetes</button>
          <!-- <button mat-menu-item (click)="openMultiVitamins()">Multi Vitamins</button> -->
        </mat-menu>
        
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" (click)="export()">EXPORT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" (click)="home()">CERTIFICATE</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link mx-3" (click)="home()">CAREER</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link mx-3" (click)="contact()">CONTACT</a>
      </li>
    </ul>
    <!-- <button class="btn btn-lg enqButton" (click)="redirectTo()">
      <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;<b>BUSINESS ENQUIRY</b>
    </button> -->
    
    
  </div>
  
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>